body {
  margin: 0;
  background-color: #000;
  font-family: Arial, sans-serif;
  color: white;
}

header {
  background-color: #4B0000;
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 40px;
}

img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px gray;
}

.texto {
  max-width: 500px;
}

.texto h2 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #ffffff;
}

.texto p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

 footer {
    background-color: #4B0000;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    margin-top: 30px;
    font-family: 'Comic Neue', cursive;
  }
  
#boasVindas {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  color: #FFD700; 
  font-size: 22px;
  text-align: center;
  transition: opacity 1s ease;
}

.mensagem {
  background: rgba(20, 0, 0, 0.8);
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 0 20px #FFD700;
}

#boasVindas.oculto {
  opacity: 0;
  pointer-events: none;
}
