body {
    background-color: black;
     font-family: Arial, sans-serif;
      margin: 0; padding: 0;
}

header {

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  height: 160px;

  background-color: red;
  border: 10px solid;
}


nav {
    margin-top: 10px; 
}