body {
  margin: 0;
  background-color: #000;
  font-family: Arial, sans-serif;
  color: white;
}

header {
  background-color: #4B0000;
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 40px;
}

img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px gray;
}

.texto {
  max-width: 500px;
}

.texto h2 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #ffffff;
}

.texto p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

 footer {
    background-color: #4B0000;
    text-align: center;
    padding: 30px;
    height: 30px;
    font-family: 'Comic Neue', cursive;
  }

  button{
    color: white;
    background-color: #4B0000;
    border-radius: 10px;
  }